---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;

export const prerender = true;
---

<Layout>
  <title>{post.data.title}</title>
  <date>{new Date(post.data.date).toLocaleDateString()}</date>
  <body>
    <h1>{post.data.title}</h1>
    {post.body}
  </body>
</Layout>
