---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const zettles = await getCollection("zettles");
  return zettles.map((zettle) => ({
    params: { slug: zettle.id },
    props: { zettle },
  }));
}

const { zettle } = Astro.props;

export const prerender = true;
---

<Layout>
  <title>{zettle.data.title}</title>
  <body>
    <h1>{zettle.data.title}</h1>
    {zettle.body}
  </body>
</Layout>
